In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import sys
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# code for extracting data


filename = "thegurus-opendata-renfe-trips.csv"

price_changed = pd.DataFrame([])
count = 0
for df in pd.read_csv(filename, iterator=True, chunksize=10 ** 6):
    count += 1

    df = df.loc[
        (df["meta"] != "{}")
        & (df["vehicle_type"] == "AVE")
        & (df["departure"] > '2020-03-02 07:30:00')
        & (df["departure"] < '2020-03-31 18:45:01')
    ]

    price_changed = pd.concat([price_changed, df])
    print(
        "From {c} million rows, ".format(c=count)
        + str(price_changed.shape[0])
        + " extracted"
    )
    if price_changed.shape[0] > 3 * (10 ** 6):
        break

From 1 million rows, 0 extracted
From 2 million rows, 0 extracted
From 3 million rows, 0 extracted
From 4 million rows, 0 extracted
From 5 million rows, 0 extracted
From 6 million rows, 0 extracted
From 7 million rows, 0 extracted
From 8 million rows, 0 extracted
From 9 million rows, 0 extracted
From 10 million rows, 0 extracted
From 11 million rows, 0 extracted
From 12 million rows, 0 extracted
From 13 million rows, 0 extracted
From 14 million rows, 0 extracted
From 15 million rows, 0 extracted
From 16 million rows, 80191 extracted
From 17 million rows, 443573 extracted
From 18 million rows, 815303 extracted
From 19 million rows, 1188434 extracted
From 20 million rows, 1496084 extracted
From 21 million rows, 1719920 extracted
From 22 million rows, 1984282 extracted
From 23 million rows, 2175842 extracted
From 24 million rows, 2336046 extracted
From 25 million rows, 2480960 extracted
From 26 million rows, 2614000 extracted
From 27 million rows, 2735204 extracted
From 28 million rows, 2776939 extracted
From 29 million rows, 2808741 extracted
From 30 million rows, 2827567 extracted
From 31 million rows, 2836947 extracted
From 32 million rows, 2837704 extracted
From 33 million rows, 2837704 extracted
From 34 million rows, 2837704 extracted
From 35 million rows, 2837704 extracted
From 36 million rows, 2837704 extracted
From 37 million rows, 2837704 extracted
From 38 million rows, 2837704 extracted
From 39 million rows, 2837704 extracted

In [4]:
price_changed.shape

(2837704, 14)

In [5]:
price_changed.to_parquet("afterextract_data.parquet")